run = "npm run start:prod"
entrypoint = "server.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:prod"]
build = ["sh", "-c", "npm ci && npm run build"]
deploymentTarget = "cloudrun"

[env]
PORT = "3000"
HOST = "0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
